[core]
	pager = 
	editor = vim
[push]
	default = simple
[color]
#	ui = always
	ui = auto

[color "diff"]
	meta = 39
	frag = cyan
	old = red
	new = green

[color "status"]
	changed = 214
	untracked = 39

[include]
	path = .gitconfig.local
