[core]
	pager = less
	editor = vim
[push]
	default = simple
[color]
	ui = auto

[color "diff"]
	commit = 226
	meta = 117
	frag = cyan
	old = red
	new = green

[color "status"]
	changed = 214
	untracked = 117

[color "decorate"]
	head = 87
	branch = 119
	remotebranch = 117

[color "branch"]
	current = green
	branch = white
	remote = 117

[log]
	graphColors = 214,119,226,117,212,87,254

[include]
	path = .gitconfig.local

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = 52 bold red
	newNormal = green bold
	newHighlight = green bold 22
