[core]
	pager = less
	editor = vim
[push]
	default = simple
[color]
	ui = auto

[color "diff"]
	commit = 226
	meta = 117
	frag = 117
	old = red bold
	new = green bold

[color "status"]
	added = green bold
	changed = 214
	untracked = 117

[color "decorate"]
	head = 87
	branch = 119
	remotebranch = 117

[color "branch"]
	current = green bold
	branch = white
	remote = 117

[log]
	graphColors = 214,119,226,117,212,87,254

[include]
	path = .gitconfig.local

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = 252 124
	newNormal = green bold
	newHighlight = 253 22
