[Unit]
Description=Power off discrete NVIDIA GPU
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/disable-dgpu
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
